## Estes são exemplos de variáveis de ambiente que podem ser usadas no projeto.

# Configurações do Ambiente de Execução
NODE_ENV=development
PORT=3000

# URL Base para a API (Mock ou Real consumida pelos endpoints em src/services)
API_BASE_URL=http://localhost:3000/api

# Chaves de Integração (API Analytics, Mapas, etc - uso futuro)
# GOOGLE_ANALYTICS_ID=seu_id_de_analytics_aqui
# MAPS_API_KEY=sua_chave_do_google_maps_aqui
